<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="{{ AUTHOR }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="vcs-git" href="{{GITHUB_URL}}" title="fib.io repo" />
        <link href="{{ SITEURL }}/theme/css/fib.css" rel="stylesheet">
    </head>
    <body>
        <div class="nav">
            <div class="container">
                <h1><a href="{{ SITEURL }}" >fib.io</a></h1>
                <ul>
                    <li><a href="{{ SITEURL }}" >Home</a></li>
                    <li><a href="" >Archive</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="container">
{% block content %}{% endblock %}
        </div>
    </body>
</html>
