<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="{{ AUTHOR }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ SITEURL }}/theme/css/fib.css" rel="stylesheet">
    </head>
    <body>
        <div class="nav">
            <div class="container">
                <h1>fib.io</h1>
                <ul>
                    <li>Home</li>
                    <li>Archive</li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="container">
            <div class="call">
                <h1>PAUL'S NOTES ON LIFE AND THE UNIVERSE.</h1>
                <h2>INCLUDING, BUT NOT LIMITED TO HACKS INVOLVING USING
                    DEBIAN, PYTHON AND UNIX.</h2>
            </div>
{% block content %}{% endblock %}

<div class="blocks">
    <div class="clear"></div>

    <div class="baby-blue left half-cell" >foo</div>
    <div class="baby-pink right cell" >foo</div>
    <div class="cream left half-cell" >foo</div>

    <div class="clear"></div>

    <div class="sand right half-cell" >foo</div>
    <div class="light-pink left cell" >foo</div>
    <div class="lime-green right half-cell" >foo</div>

    <div class="clear"></div>
</div>
        </div>
    </body>
</html>
