{% extends "base.html" %}

{% block content %}
    <div class="call">
        <h1>paul's notes on life and the universe.</h1>
        <h2>(mostly about unix and debian)</h2>
    </div>

    <div class="clear"></div>

    <div class="hacks">
        {% if articles %}
            {% for article in articles_page.object_list %}
                <div class='hack'>
    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a><br />
    {{article.summary}}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
